<form #f="ngForm" (ngSubmit)="f.form.valid">


  <h2 class="elemCenter" *ngIf="!idDoctor">Ajout nouveau Docteur </h2>
  <h2 class="elemCenter" *ngIf="idDoctor">Modifier Docteur: {{oldDoctorName}}-{{oldDoctorlastName}} </h2>

  <label for="float-input">Nom</label>
  <input id="float-input" type="text" class="inputStyle" pInputText [(ngModel)]="doctor.nom"
  name="nom" #nom="ngModel"
    required>
  <div *ngIf="f.submitted && nom.invalid">
    nom réquis
  </div>
  <br>
  <label for="float-input1">Prénom</label>
  <input id="float-input1" type="text" class="inputStyle" pInputText [(ngModel)]="doctor.lastname"
  name="prenom" #prenom="ngModel"
  required>
<div *ngIf="f.submitted && prenom.invalid">
  nom réquis
</div>
  <br>
  <label for="float-input2">Email</label>
  <input id="float-input2" type="email" class="inputStyle" pInputText [(ngModel)]="doctor.emailAddress"
  name="mail" #mail="ngModel"
  required email>
<div *ngIf="f.submitted && mail.invalid">
<div *ngIf="mail.errors?.['required']">
  Email réquis
</div>

<div *ngIf="mail.errors?.['email']">
  Email Invalid
</div>

</div>
  <br>
  <label for="float-input3">Phone</label>
  <input id="float-input3" type="text" class="inputStyle" pInputText [(ngModel)]="doctor.phone"
  name="phone" #phone="ngModel"
  required>
<div *ngIf="f.submitted && phone.invalid">
  phone réquis
</div>
  <br>
  <label for="float-input4">Spécialité</label>
  <input id="float-input4" type="text" class="inputStyle" pInputText [(ngModel)]="doctor.specialite"
  name="specialite" #specialite="ngModel"
  required>
<div *ngIf="f.submitted && specialite.invalid">
  Spécialité réquis
</div>
  <!--
<br>
<label for="float-input5">Mot de passe</label>
<input id="float-input5" type="password"  class="inputStyle" pInputText [(ngModel)]="doctor.password"/>
<br>
<label>Role:</label>
<br>
<p-radioButton name="groupname"
               label="Administrateur"
               value="ROLE_ADMIN"
               [(ngModel)]="doctor.role">

</p-radioButton>

<p-radioButton name="groupname"
               label="Utilisateur"
               value="ROLE_USER"
               [(ngModel)]="doctor.role">

</p-radioButton>
[disabled]="nom1.invalid"
-->
  <br>
  <button pButton class="ui-button-success" label="Ajouter" type="submit" (click)="add()" *ngIf="!idDoctor"></button>
  <button pButton class="p-button-warning" label="Modifier" (click)="update(idDoctor,doctor)" *ngIf="idDoctor"></button>
</form>
