
<h2>List Doctors</h2>

<p-table [value]="doctors">
  <ng-template pTemplate="header">
    <tr>
      <th>Id Doctor</th>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Speciality</th>

  </ng-template>
  <ng-template pTemplate="body" let-doctor>
    <tr>
      <td>{{doctor.id}}</td>
      <td>{{doctor.firstname}}</td>
      <td>{{doctor.lastname}}</td>
      <td>{{doctor.emailAddress}}</td>
      <td>{{doctor.phone}}</td>
      <td>{{doctor.specialite}}</td>

    </tr>
  </ng-template>
</p-table>

